body {
  font-family: "Kumbh Sans", sans-serif;
}
.faq {
  h1 {
    line-height: 1em;
    text-align: center;
    font-size: 2rem;
    @include breakpoint(medium) {
      text-align: left;
    }
  }
  &__question {
    text-decoration: none;
    color: $very-dark-grayish-blue;
    font-size: 0.825rem;
  }
  &__question:hover {
    cursor: pointer;
    color: $soft-red;
  }
  &__question:focus {
    outline: none;
    color: $very-dark-desaturated-blue;
    font-weight: bold;
  }
  &__answer {
    color: $dark-grayish-blue;
    font-size: 0.75rem;
  }
}
