body {
  font-family: "Kumbh Sans", sans-serif;
}

.faq {
  h1 {
    text-align: center;
    line-height: 1em;
    font-size: 2rem;

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  &__question {
    color: $very-dark-grayish-blue;
    font-size: 0.825rem;
    &:hover {
      color: $soft-red;
    }
  }

  input:checked + &__question {
    font-weight: bold;
    &:hover {
      color: $very-dark-desaturated-blue;
    }
  }

  &__answer {
    color: $dark-grayish-blue;
    font-size: 0.75rem;
  }
}
