// Colors (primary) - text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// Colors (neutral) - text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Colors - bg gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Colors - Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

// Defaults
$default-spacing-size: 1.5em;
$default-anim-speed: 200ms;

// Breakpoint - 375px, 1024px
$breakpoint: (
  "small": 23.4375em,
  "medium": 64em,
);
