/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove default margin */
body,
h1,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.faq h1 {
  text-align: center;
  line-height: 1em;
  font-size: 2rem;
}

@media (min-width: 64em) {
  .faq h1 {
    text-align: left;
  }
}

.faq__question {
  color: #4a4b5e;
  font-size: 0.825rem;
}

.faq__question:hover {
  color: #f47c57;
}

input:checked + .faq__question {
  font-weight: bold;
}

input:checked + .faq__question:hover {
  color: #1d1e35;
}

.faq__answer {
  color: #787887;
  font-size: 0.75rem;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
  padding: 0 1.5em;
}

.faq {
  position: relative;
  background: white;
  border-radius: 1.5em;
  max-width: 34.5em;
}

.faq::after {
  content: "";
  position: absolute;
  display: none;
  bottom: 50%;
  left: 0;
  width: 191px;
  height: 184px;
  -webkit-transform: translate(-50%, calc(50% + 2.5em)) scale(0.9);
          transform: translate(-50%, calc(50% + 2.5em)) scale(0.9);
  z-index: 999;
  background: url(../images/illustration-box-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 64em) {
  .faq::after {
    display: block;
  }
}

.faq__items {
  min-width: 17.5em;
  margin: 2em 1.5em 3em;
}

.faq__items h1 {
  margin-bottom: 0.5em;
}

@media (min-width: 64em) {
  .faq__items {
    margin: 0;
    padding: 4.5em 6em 5em 0;
  }
}

.faq__photo {
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media (min-width: 64em) {
  .faq__photo > img {
    display: none;
  }
}

.faq__photo::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 200%;
  -webkit-transform: translate(-1em, -55%);
          transform: translate(-1em, -55%);
  background: url(../images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 999;
}

@media (min-width: 64em) {
  .faq__photo::before {
    bottom: 50%;
    width: 29.5em;
    height: 22.4375em;
    max-height: 100%;
    -webkit-transform: translate(0) translate(-6em, 50%) scale(0.85);
            transform: translate(0) translate(-6em, 50%) scale(0.85);
    background: url(../images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.faq__photo::after {
  content: "";
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-72%, -4em) scale(1.9);
          transform: translate(-72%, -4em) scale(1.9);
  background: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 64em) {
  .faq__photo::after {
    display: block;
  }
}

@media (min-width: 64em) {
  .faq__photo {
    background: url(../../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
  }
}

@media (min-width: 64em) {
  .faq {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    min-width: 20.4375em;
    max-width: 57.5em;
  }
}

.faq__question {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.1em 0;
}

.faq__question::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 5%;
  height: 100%;
  background: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  -webkit-transition: 200ms -webkit-transform ease-out;
  transition: 200ms -webkit-transform ease-out;
  transition: 200ms transform ease-out;
  transition: 200ms transform ease-out, 200ms -webkit-transform ease-out;
}

.faq input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.faq input:checked ~ p {
  max-height: 10em;
  padding-bottom: 1.5em;
}

.faq input:checked ~ label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__answer {
  border-bottom: 1px solid #e7e7e9;
  max-height: 0;
  padding-right: 2em;
  -webkit-transition: 200ms all ease-out;
  transition: 200ms all ease-out;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */