body {
  display: grid;
  place-items: center;
  background: linear-gradient($soft-violet 0%, $soft-blue 100%);
}
.faq {
  &__section {
    min-width: 20.125em;
    background-color: white;
    box-shadow: 0 3.5em 3em -1.75em rgba(0, 0, 0, 0.35);
    border-radius: 1.5em;
    margin: 0 $default-spacing-size;
    padding: 0 $default-spacing-size ($default-spacing-size * 2)
      $default-spacing-size;
    overflow: hidden;

    @include pseudo(after, absolute) {
      display: block;
      top: 55%;
      transform: translate(-50%, -50%);
      min-width: 9em;
      min-height: 9em;
      background-image: url(../images/illustration-box-desktop.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: 250ms transform ease-in-out;
    }
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "photo items";
      max-width: 53em;
      padding: 5em 0;
    }
  }
  &__photo {
    grid-area: photo;
    position: relative;
    > img {
      margin: auto;
      @include breakpoint(medium) {
        display: none;
      }
    }
    @include pseudo(
      before,
      absolute,
      url(../images/illustration-woman-online-mobile.svg)
    ) {
      display: grid;
      place-items: center;
      width: 100%;
      transform: translate(-1em, -55%);

      @include breakpoint(medium) {
        content: none;
      }
    }

    @include breakpoint(medium) {
      transform: translateX(-5em);
      background-image: url(../images/illustration-woman-online-desktop.svg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 26em 17.5em;
    }
  }
  &__items {
    grid-area: items;
    max-width: 30em;
    > h1 {
      margin: 1em 0 0.5em 0;
      @include breakpoint(medium) {
        margin-top: 0;
      }
    }
    @include breakpoint(medium) {
      padding-right: 6em;
    }
  }
}
