body {
  display: grid;
  place-items: center;
  background: linear-gradient($soft-violet 0%, $soft-blue 100%);
}
.faq {
  &__section {
    min-width: 20.125em;
    background-color: white;
    box-shadow: 0 3.5em 3em -1.75em rgba(0, 0, 0, 0.35);
    border-radius: 1.5em;
    margin: 0 $default-spacing-size;
    padding: 0 $default-spacing-size ($default-spacing-size * 2)
      $default-spacing-size;

    h1 {
      margin: 0.75em 0 0.25em 0;
    }
  }
  &__photo {
    position: relative;
    > img {
      margin: auto;
    }
    @include pseudo(before, absolute) {
      display: block;
      transform: translate(-1em, -55%);
      width: 100%;
      height: 200%;
      background: url(../images/illustration-woman-online-mobile.svg) no-repeat;
      background-position: center;
    }
  }
  &__items {
    max-width: 30em;
  }
}
